.mockup {
	display: block;
	margin: 1em 0;
	padding: 30px;
	height: 420px; // height MUST explicitly be set
	background-image: url(concrete_seamless.png);
	background-color: #dddddd;
	background-size: 200px;
	perspective: 1000px;
	text-align: center;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;

	&, & * {
		box-sizing: border-box;
	}

	> * {
		max-height: 100%;
	}

	@overlap: 125px;

	.shot {
		display: inline-block;
		background-color: #efefef;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: -30px 30px 45px rgba(0,0,0,0.35);
		transform: translateX(0px) translateY(-13%) translateZ(0px) rotateX(50deg) rotateY(0deg) rotateZ(-30deg) scale(0.9);
		transform-origin: center center;
		transform-style: preserve-3d;
		transition: all 0.11s linear;
		max-height: 100%;
		margin-left: -@overlap;
		margin-right: -@overlap;

		&:hover, &:active {
			box-shadow: none;
			transform: none;
			margin-left: @overlap * 1.333;
			margin-right: @overlap * 1.333;
			transition-duration: 0.33s;
		}

		&:first-of-type {
			margin-left: 0!important;
		}
		&:last-of-type {
			margin-right: 0!important;
		}
	}
}
