html, body {
	background-color: #3f3f3f;
	color: #efefef;
}

body * {
	box-sizing: border-box;
}

.mockup {
	color: #3f3f3f;
	display: block;
	margin: 1em 0;
	padding: 20px 30px;
	height: 420px; // height MUST explicitly be set
	background-image: url(concrete_seamless.png);
	background-size: 200px;
	perspective: 1000px;
	text-align: center;

	> * {
		max-height: 100%;
	}

	.shot {
		display: inline-block;
		background-color: green;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: translateX(0px) translateY(-13%) translateZ(0px) rotateX(50deg) rotateY(0deg) rotateZ(-30deg) scale(0.9);
		transform-origin: center center;
		transform-style: preserve-3d;
		transition: all 0.33s linear;
		margin-left: -75px;
		margin-right: -75px;

		&::before {
			content: "asdsa";
			background-color: red;
			width: 100%;
			height: 100%;
		}
		&::after {
			content: "öä,öml";
			background-color: blue;
			width: 100%;
			height: 100%;
		}

		&:hover, &:active {
			transform: none;
			margin-left: 120px;
			margin-right: 120px;
			transition-duration: 0.75s;
		}

		&:first-child {
			margin-left: 0!important;
		}
		&:last-child {
			margin-right: 0!important;
		}
	}
}
